@model GolfFinder_Models.Score_Models.ScoreDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ScoreDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ScoreID)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.ScoreID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParHole18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParHole18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ScoreID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
